@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Montserrat", system-ui !important;
}

.container.block-form {
    margin-top: 25px;
}

.formElement {
    margin-top: 5px !important;
}

.userAgree > label {
    cursor: pointer;
}